<header class="mb-4">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Tasklist</a>
        <button class="navbar-toggler" type="button" data-toggler="collapse" data-taget="#navbarSupportContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportContent">
            <ul class="navbar-nav">
                <li class="navbar-nav">
                    <li class="nav-item"><%= link_to "新規タスクの投稿", new_task_path, class: "nav-link" %></li>
                </li>
            </ul>
        </div>
    </nav>
</header>